<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2"></div>
    <div class="col-md-auto">
    <p class="h2">「吸う」じゃない。「嗜む」</p>
    </div>
    <div class="col col-lg-2"></div>
    <div class="col col-lg-2"></div>
    <div class="col-md-auto">
      <p>最近はどこも禁煙である場所が多い。</p>
      <p>路上でタバコに火をつけるなんてマナー違反</p>
      <p>悩める紳士淑女に捧げる憩いの場・・・</p>
      <p>愛煙家で共有しませんか？</p>
    </div>
    <div class="col col-lg-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <p class="h4">
        <%= link_to "お気に入りを教える", new_post_image_path, class: 'nav-link text-sucsess,' %>
        </p>
    </div>
    <div class="col-sm">
    </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-md-center">
    <div class="row">
    <%= image_tag('tabako2.jpeg', size:'270x310') %>
    </div>
    <div class="col-md-auto">
      <p class="h2">嗜むなら、気持ちよく。</p>
      <br>
      <br>
      <p class="h3">嫌な顔をされながらではスマートではない。</p>
      <br>
      <p class="h3">路上で燻らす煙には品がない。</p>
      <br>
      <p class="h3">喫茶店なら「喫煙者」は「愛煙家」になる。</p>
      <br>
    </div>
    <div class="col col-lg-2"></div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2"></div>
    <div class="col-md-auto">
      <p class="h2">マリアージュにこだわる。</p>
      <br>
      <br>
      <p class="h3">煙草の相棒。</p>
      <br>
      <p class="h3">各々の選択が。</p>
      <br>
      <p class="h3">完璧な贅沢へ昇華。</p>
      <br>
    </div>
    <div class="row">
    <%= image_tag('coffe.jpeg', size:'270x310') %>
    </div>
  </div>
</div>